.admin_layout {
  min-height: 100vh;

  background: #f5f8fa;
}


.admin_layout_content {
  min-width: 0;

  min-height: 100vh;

  margin-left: 280px;

  transition:
    margin-left 0.28s ease;
}


/* Sidebar closed */

.admin_layout.sidebar_collapsed
.admin_layout_content {
  margin-left: 86px;
}


/* Tablet / Mobile */

@media (max-width: 900px) {

  .admin_layout_content {
    margin-left: 76px;
  }


  .admin_layout.sidebar_collapsed
  .admin_layout_content {
    margin-left: 76px;
  }
}


/* prevent horizontal page scrollbar */

html,
body {
  max-width: 100%;

  overflow-x: hidden;
}